extends layout.pug

block content
    div.about(class="about-container")
        div(class="about-each")
            img(class="about-img" type="image" src="/images/BillAdams.png" alt="Bill Adams" style='width:200px;height:200px;')
            p(class="about-content")
                |Bill Adams is currently a software engineering student at appAcademy.
                |Prior to appAcademy, Bill attended Portland State University and has a Bachelor's  in Philosophy.
                |He worked in tech support and computer repair in multiple roles for a few different companies, gaining experience with a wide array of technologies.
                |When Bill is not coding, he enjoys spending time raising his daughter, cooking, and squeezing in some Dungeons and Dragons when time allows.
                |GoodEats is Bill’s first group project with appAcademy.
        div(class="about-each")
            img(class="about-img" type="image" src="/images/EstherKang.png" alt="Esther Kang" style='width:200px;height:200px;')
            p(class="about-content")
                |Esther Kang is currently a software engineering student at appAcademy.
                |Prior to appAcademy, Esther attended James Madison University and has a Bachelors in International Business.
                |She worked in a corporate foundation as a program assistant.
                |When Esther is not coding, she enjoys spending time playing with her dogs and gardening.
                |GoodEats is Esther’s first group project with appAcademy.
        div(class="about-each")
            img(class="about-img" type="image" src="/images/MelonnieHicks.png" alt="Melonnie Hicks" style='width:200px;height:200px;')
            p(class="about-content")
                |Melonnie Hicks is currently a software engineering student at appAcademy.
                |Prior to appAcademy, Melonnie attended Texas A&M and Johns Hopkins Universities.
                |Melonnie holds a Bachelor’s in History and a Master’s in Museum Studies.
                |For the past decade, she has worked as the Executive Director of a nonprofit museum.
                |Melonnie is also an entrepreneur and has worked as an independent contract hairstylist for twenty years.
                |When Melonnie is not coding, she enjoys spending her time with her family and menagerie of animals.
                |GoodEats is Melonnie’s first group project with appAcademy.
        div(class="about-each")
            img(class="about-img" type="image" src="/images/NathanMac.png" alt="Nathan Mac" style='width:200px;height:200px;')
            p(class="about-content")
                |Nathan Mac  is currently a software engineering student at appAcademy.
                |Prior to appAcademy, Nathan attended San Jose State University and has a Bachelors in Physics.
                |When Nathan is not coding, he enjoys spending time playing board games and badminton.
                |GoodEats is Nathan’s first group project with appAcademy.
