extends layout.pug

include utils.pug

block content
  div(class='remove-box-confirm')
    h3=`Would you like to delete ${box.name}?`
    form(action=`/boxes/${boxId}/delete` method='post')
      input(type='hidden' name='boxId' value=boxId)
      button(type='submit' class='btn') Confirm
      a(href=`/boxes/${boxId}/edit` class='cancel-btn') Cancel
