extends layout.pug

include utils.pug

block content
  div(class="my-box-page-add-recipe") My Recipes
    each recipe in recipes
      div
        a(class="my-box-page-add-recipe__each-recipe" href=`/boxes/${boxId}/add/${recipe.dataValues.id}`)=recipe.dataValues.name
    div
      a(href=`/boxes/${boxId}/edit` class='cancel-btn') Cancel
