extends layout.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  p(class='new-box-form') Enter a name for your box and click Get Started!
  form(class='new-box-form' action='/boxes/new' method='post')
    +field('Box Name: ', 'name', box.name)
    div
      button(type='submit' class='btn') Get Started
    a(href='/' class='cancel-btn') Cancel
