extends layout.pug

include utils.pug

block content
  div(class="my-recipe-boxes")
    each box in boxes
      div(class="my-recipe-box")
        a(class="my-recipe-box-title" href=`/boxes/${box.id}`)=box.name
