extends layout.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  h2(class='new-box-form') Get started by entering a name for your new box!
  form(class='new-box-form' action='/boxes/new' method='post')
    +field('Box Name: ', 'name', box.name)
    div
      button(type='submit' class='btn') Get Started
    a(href='/' class='cancel-btn') Cancel
