extends layout.pug 

block content
    div(class="banner") 
        img(class="banner" type="image" src="assets/banner.jpg")
        div(class="centered") Create and Share Your Favorite Recipes!
    div(class="recent-recipes") Most Recent Recipes
        each recipe in recipes
            ul(class="recipe-ul") 
                li 
                    a(href=`/recipes/${recipe.id}`)=recipe.name
    div(class="recent-boxes" href="/boxes") Most Recent Recipe Boxes