extends layout.pug

block content
    div(class="banner")
        img(class="banner" type="image" src="assets/banner.jpg")
        if locals.authenticated
            div(class="welcome")
                h2(class="welcome")= `Welcome, ${locals.user.username}!`
        div(class="banner-text") Create and Share Your Favorite Recipes!
    div(class="recent-recipes")
        each recipe in recipes
            div(class="recent-recipe-container")
                a(class="recent-recipe-description" href=`/recipes/${recipe.id}`)=recipe.name
                a(class="recent-recipe-image-link" href=`/recipes/${recipe.id}`)
                    if recipe.Pictures[0]
                        img(class="recent-recipe-image" type="image" src=recipe.Pictures[0].dataValues.src)
    div(class="recent-boxes" href="/boxes") Most Recent Recipe Boxes
    if !locals.authenticated
        div(class="overlay-wrap")
            input(type="checkbox" name="hide" id="hide")
            label(class="hide" for="hide") X
            div(class="overlay2")
                div(class="overlay")
                    div(class="overlay-inner")
                        div(class="message")
                            h2 Welcome to GoodEats!
                            p This is a community where foodies can create and share recipes.
                            p Log in or create an account to get started!
                            a(class="btn" href="/users/login") Log In
                            a(class="btn" href="/users/register") Register
                            a(class="btn" href="/users/demo") Demo Log In
