extends layout.pug 

block content
    div(class="banner") banner
    div(class="recent-recipes")
        div(class="recent-recipes__item-1") image 1
        div(class="recent-recipes__item-2") image 2
        div(class="recent-recipes__item-3") image 3