doctype html
html
  head
      block head
        title="GoodEats"
        link(rel='stylesheet' href='/stylesheets/layout.css')
  body
    header
    nav(class="navbar")
      a(class="logo" href="/")
        img(class="logo" type="image" src="/images/logo.svg" alt="logo")
      div
        a(class="create-recipe" href="/recipes/new") Create a Recipe
      if locals.authenticated
        div
          a(class="logout" href="/users/logout") Log Out
      else
        div
          a(class="login" href="/users/login") Log In
        div
          a(class="register" href="/users/register") Register
    div
    block content
    main
    footer
      h5 footer
      