doctype html
html
  head
      block head
        title="GoodEats"
        link(rel='stylesheet' href='/stylesheets/layout.css')
  body
    header
    nav(class="nav")
      a(class="logo" href="/")
        img(class="logo" type="image" src="/images/logo.svg" alt="logo")
      if locals.authenticated
        div
          h2= `Welcome, ${locals.user.username}`
      div
        a(class="create-recipe" href="/recipes/new") Create a Recipe
      div
        a(class="recent-recipes" href="/recipes") Most Recent Recipes
      if locals.authenticated
        div
          a(class="my-recipes" href="/recipes/my") My Recipes
        div
          a(class="logout" href="/users/logout") Log Out
      else
        div
          a(class="login" href="/users/login") Log In
        div
          a(class="register" href="/users/register") Register
    div
    block content
    main
    footer
      h5 footer
