doctype html
html
  head
      block head
        title="GoodEats"
        link(rel='stylesheet' href='/stylesheets/layout.css')
  body
    header
    nav(class="navbar")
      a(class="logo" href="/")
        img(class="logo" type="image" src="/images/logo.svg" alt="logo")
      if locals.authenticated
        div(class="about")
          a(class="about" href="/about") About
        div(class="boxes")
          a(class="boxes" href="/boxes") Recent Boxes
        div(class="recipes")
          a(class="recipes" href="/recipes") Recent Recipes
        div(class="my-boxes")
          a(class="my-boxes" href="/boxes/my") My Recipe Boxes
        div(class="my-recipes")
          a(class="my-recipes" href="/recipes/my") My Recipes
        div(class="create-box")
          a(class="create-box" href="/boxes/new") Create a Recipe Box
        div(class="create-recipe")
          a(class="create-recipe" href="/recipes/new") Create a Recipe
        div(class="logout")
          a(class="logout" href="/users/logout") Log Out

      else
        div(class="about")
          a(class="about" href="/about") About
        div(class="boxes")
          a(class="boxes" href="/boxes") Recent Boxes
        div(class="recipes")
          a(class="recipes" href="/recipes") Recent Recipes
        div(class="create-box")
          a(class="create-box" href="/boxes/new") Create a Recipe Box
        div(class="create-recipe")
          a(class="create-recipe" href="/recipes/new") Create a Recipe
        div(class="login")
          a(class="login" href="/users/login") Log In
        div(class="register")
          a(class="register" href="/users/register") Register


    div
    block content
    main
    footer
      h5 footer
