extends layout.pug

include utils.pug



block content
  div(class="my-recipes-title")
    h1 Recipes
  div(class="my-recipes-container")
    each recipe in recipes
      div(class="my-recipe")
        a(class="my-recipe-title" href=`/recipes/${recipe.id}`)=recipe.name
        a(class="recent-recipe-image-link" href=`/recipes/${recipe.id}`)
          if recipe.Pictures[0]
            img(class="recent-recipe-image" type="image" src=recipe.Pictures[0].dataValues.src)
          else
            img(class="placeholder-image" type="image" src="/images/logo2.png")
