extends layout.pug

include utils.pug

block content
  +validationErrorSummary(errors)
  h2(class='new-recipe-form') Get started by entering a name for your new recipe!
  form(class='new-recipe-form' action='/recipes/new' method='post')
    +field('Recipe Name: ', 'name', recipe.name)
    div
      button(type='submit' class='btn') Get Started
    a(href='/' class='new-recipe-form-button cancel-btn') Cancel
