extends layout.pug

include utils.pug



block content
  div(class="my-recipes-container")
    each recipe in recipes
      div(class="my-recipe")
        a(class="my-recipe-title" href=`/recipes/${recipe.id}`)=recipe.name
