extends layout.pug

include utils.pug

block content
    +validationErrorSummary(errors)
    div(class='login__div')
        form(action='/users/login' method='post' class="login__form")
            input(type='hidden' name='_csrf' value=csrfToken)
            +field('Username', 'username', username)
            +field('Password', 'password', password, 'password')
            div
                button(type='submit' class='btn') Log-In
                a(href='/' class='cancel-btn') Cancel
            div
                p: a(href='/users/register') Don't have an account? Register here!
        div
            form(action='/users/demo' method='get')
                input(type='hidden' name='_csrf' value=csrfToken)
                button(type='submit' class='btn') Demo User Log In
