extends layout.pug
include utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/layout.css")

block content
  +validationErrorSummary(errors)
  div(class="signup__div")
    h1= title
    form(method="post" action="/users/register" class="signup__form")
      input(type="hidden" name="_csrf" value=csrfToken)
      +field("Username", "username", user.username)
      +field("Email Address", "email", user.email)
      +field("Password", "password", user.password, "password")
      +field("Confirm Password", "confirmPassword", user.confirmPassword, "password")
      button(type="submit" class="submitButton btn") Submit
    div
      a(href="/users/login") Already have an account?
    p=""
    div
      form(action="/users/demo" method="get")
        input(type="hidden" name="_csrf" value=csrfToken)
        button(type="submit" class="btn") Demo User Log In
