@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 1000px) {
    .navbar {
        width: auto;
        height: auto;
    }
}

.navbar {
    /* box-shadow: 0px 3px 5px grey; */
    /* background-color: white; */
    background-color: #f5f6ea;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo" "recent-recipes" "recent-boxes" "login" "logout" "register";
}

.logo {
    height: 5rem;
    width: 5rem;
}

.recipe-ul {
    display: grid;
    text-align: center;
}


.recent-recipes {
    text-decoration: none;
    text-align: center;

}

.recent-boxes {
    text-decoration: none;
    text-align: center;

}


.welcome {
    font-style: italic;
    font-family: serif;
}



.create-recipe,
.create-box,
.my-recipes,
.my-boxes {
    display: grid;
    justify-content: left;
    padding: 10px;
    text-decoration: none;
    color: rgb(166,77,120);
    text-align: center;

}

a.create-recipe:hover,
a.create-box:hover,
a.my-recipes:hover,
a.my-boxes:hover {
    font-style: italic;
    color: #ffbe54;
}

.logout,
.login,
.register {
    display: grid;
    justify-content: left;
    padding: 10px;
    text-decoration: none;
    color: rgb(166,77,120);
    text-align: center;
}

a.logout:hover,
a.login:hover,
a.register:hover {
    font-style: italic;
    color: #ffbe54;
}




.banner {
    display: flex;
    justify-content: center;
    /* box-shadow: 0px 3px 5px grey; */
    /* border-radius: 5px; */
    margin: 10px;
    padding: 3px;
    max-width:100%;
    max-height: 100%;
    opacity: 0.85;
    /* position: relative; */
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 300%;
    font-style: italic;
    text-align: right;
    text-shadow: 0px 3px 3px black;
}

.recent-recipes {
    display: flex;
}

.recent-recipes__item-1,
.recent-recipes__item-2,
.recent-recipes__item-3 {
    flex-grow: 2;
    box-shadow: 0px 3px 5px grey;
    border-radius: 5px;
    margin: 10px;
    padding: 3px;
    color: white;
}



footer {
    /* box-shadow: 0px 3px 5px grey; */
    background-color: #f5f6ea;
    /* background-color: white; */
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;
}





.reviews__container-hidden {
    display: none;
}

.reviews__container-visible {
    display: block;
}

.recipes__pictures {
    max-height: 35vh;
    max-width: 35vw;
}

.recipes__pictures_container {
    display: flex;
    justify-content: space-evenly
}

.recipes__pictures_container div {
    max-width: 25%
}
