@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    /* background-color: rgb(231,223,212); */
    width: auto;
    height: auto;
    position: sticky;
    top: 0px;
    background-color:wheat;
    border-radius: 2em;
    z-index: 1;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas: "logo" "recent-recipes" "recent-boxes" "login" "logout" "register";
}

@media screen and (min-width: 1000px) {
    .menu {
        display: none;
    }

    .big {
        display: block;
    }

    .small {
        display: none;
    }
}

@media screen and (max-width: 999px) {
    .menu {
        display: block;
        position: fixed;
        z-index: 2;
        top: 14px;
        right: 5%;
        justify-content: center;
    }

    .menu div {
        position: sticky;
        top: 0px;
        right: 0px;
        background-color: wheat;
        border-radius: 2em;
        z-index: 2;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    ul.dropdown {
        padding: 5px;
        display: flex;
        flex-direction: column;
        text-align: right;
    }

    li.small {
        position: relative;
        display: none;
    }

    .menu:hover div ul li.small {
        display: block;
        cursor: pointer;
        border-top: 1px solid papayawhip;
        padding: 0px;
    }

    .menu:hover div ul li a.small {
        text-align: right;
    }

    .big {
        display: none;
    }

    .small {
        display: block;
    }
}

body {
    background-color:papayawhip;
}

.logo {
    height: 5rem;
    width: 5rem;
}

.recipe-ul {
    display: grid;
    text-align: center;
}


.recent-recipes {
    text-decoration: none;
    text-align: center;
}

.recent-boxes {
    text-decoration: none;
    text-align: center;
}

.create-recipe,
.create-box,
.my-recipes,
.my-boxes,
.recipes,
.boxes,
.about
{
    /* display: grid; */
    justify-content: left;
    padding: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
    transition: all 0.3s;
}

a.create-recipe:hover,
a.create-box:hover,
a.my-recipes:hover,
a.my-boxes:hover,
a.recipes:hover,
a.boxes:hover,
a.about:hover {
    font-style: italic;
    color: #ffbe54;
}

.logout,
.login,
.register,
.demo {
    /* display: grid; */
    justify-content: left;
    padding: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
    transition: all 0.2s;
}

a.logout:hover,
a.login:hover,
a.register:hover,
a.demo:hover {
    font-style: italic;
    color: #ffbe54;
}



/* homepage */

img.banner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0px;
    padding: 0px;
    max-width:100%;
    max-height: 100%;
    opacity: 0.85;
    background-color: white;
}

.welcome {
    position: absolute;
    top: 15%;
    left: 15%;
    color: papayawhip;
    font-style: italic;
    font-family: serif;
    text-shadow: 0px 3px 3px black;
    white-space: nowrap;
}

@media screen and (max-width: 549px) {
    .banner-text {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: papayawhip;
        font-size: 100%;
        font-style: italic;
        text-align: center;
        text-shadow: 0px 3px 3px black;
        white-space: nowrap;
    }
}

@media screen and (min-width: 550px) and (max-width: 999px) {
    .banner-text {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: papayawhip;
        font-size: 150%;
        font-style: italic;
        text-align: center;
        text-shadow: 0px 3px 3px black;
        white-space: nowrap;
    }
}

@media screen and (min-width: 1000px) {
    .banner-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: papayawhip;
        font-size: 300%;
        font-style: italic;
        text-align: center;
        text-shadow: 0px 3px 3px black;
        white-space: nowrap;
    }
}

.recent-recipes {
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.recent-recipe-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.recent-recipe-description {
    text-decoration: none;
    margin: 10px;
    color: papayawhip;
    background-color: rgb(166,77,120);
    border-radius: 2em;
}

.recent-recipe-description:hover {
    background-color: #ffbe54;
}

.recent-recipe-image-link {
    width: 100%;
    height: 100%;
}

.recent-recipe-image-link:hover {
    box-shadow: 1px 1px 3px 3px #d8c3a3 ;
}

.recent-recipe-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.placeholder-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

/* overlay */

.overlay {
    opacity:0;
    position:fixed;
    top:-5em;
    left:-5em;
    width:100%;
    height:100%;
    display:table;
    background:rgba(0,0,0,0.8);
    animation: splash 3s forwards;
}
.overlay-inner {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
.message {
    border-radius:10px;
    background:papayawhip;
    display:inline-block;
    vertical-align:middle;
    width:50%;
    text-align:left;
    padding:10px;
}

@keyframes splash {
    0%  {opacity:0;top:0;left:0;}
    100%{opacity:1;top:0;left:0;}
}
.overlay-wrap {
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:3;
}
.hide {
    position:absolute;
    top:-5em;
    right:10px;
    opacity:0;
    color:white;
    padding:10px;
    font-size:200%;
    z-index:3;
    cursor:pointer;
    animation:fadein 3s forwards;
    font-family: 'Roboto',Arial;
}
#hide {
    position:absolute;
    left:-5em;
    top:-5em;
}
.overlay2{
    position:absolute;
    opacity:1;
    transition:all 3s ;
}

#hide:checked ~ div,
#hide:checked ~ div *,
#hide:checked + label {
 opacity:0;
 left:-5em;
 right:auto;
 top:-5em;
 pointer-events:none;
}

@keyframes fadein {
 0% {opacity: 0;top:10px;}
 100%{opacity:1;top:10px;}
}


/* my recipe boxes */

.my-recipe-boxes {
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.my-recipe-box {
    display: flex;
    flex-direction: column;
    /* padding: 1rem; */
    justify-content: space-between;
    background-color: #ffbe54;
    border-radius: 2em;
    box-shadow: 0px 3px 5px grey;
    transition: all 0.2s;
}
.my-recipe-box a {
    padding: 1rem;
}

.my-recipe-box:hover {
    background-color: rgb(166,77,120);
}

.my-recipe-box-title {
    margin: 0px;
    text-decoration: none;
    color: white;
    text-align: center;
}

/* my recipes */

.my-recipes-container {
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.my-recipe {
    display: flex;
    flex-direction: column;
    /* padding: 1rem; */
    justify-content: space-between;
    background-color: #ffbe54;
    border-radius: 2em;
    box-shadow: 0px 3px 5px grey;
    transition: all 0.2s;
}

.my-recipe a {
    padding: 1rem;
}

.my-recipe:hover {
    background-color: rgb(166,77,120);
}

.my-recipe-title {
    margin: 0px;
    text-decoration: none;
    color: white;
    text-align: center;
}

/* footer */

footer {
    /* background-color: rgb(231,223,212); */
    background-color: wheat;
    border-radius: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: end;
}

/* create a recipe box */

.new-box-form {
    display: grid;
    place-items: center;
}

/* create a recipe */

.new-recipe-form,
.new-recipe-form-button {
    display: grid;
    place-items: center;
}

/* about */

.about-container {
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.about-each {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.about-img {
    height: 100px;
    width: 100%;
}

.about-content {
    margin: 0px;
}


/* buttons */

.btn,
.add-a-recipe-btn {
    background-color: #ffbe54;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    color:#FFFFFF;
    text-align: center;
    transition: all 0.3s;
    box-shadow: 0px 2px 3px grey;
    border: none;
}

.cancel-btn {
    background-color: lightgray;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    color:#FFFFFF;
    text-align: center;
    transition: all 0.2s;
    box-shadow: 0px 2px 3px grey;
    border: none;
}

.btn:hover,
.cancel-btn:hover {
    background-color:rgb(166,77,120);
}
