body {
  height: auto;
}
.recipes__grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: .25fr 1.5fr .5fr;
  gap: 0.5em 0.5em;
  grid-template-areas:
    "title title"
    "pics content"
    "pics showreviews"
    "pics writereview";
}

.recipe__title {
  grid-area: title;
  text-align: center;
}

.recipe__content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
}

/* .recipe__ingredients {
  grid-area: ingredients;
}

.recipe__instructions {
  grid-area: instructions;
} */

/* .recipe__content {
  display: block;
  justify-self: left;
  justify-items: left;
  text-align: left;
} */

.recipe__writereview {
  grid-area: writereview;
}

.recipe__reviews {
  grid-area: showreviews;
}

.recipe__pictures {
  position: relative;
  grid-area: pics;
  display:flex;
  box-sizing: border-box;
  /* justify-content: space-around; */
  width: auto;
  /* border: 1px solid #777; */
  border-radius: 4px;
  float: left;
  /* background-color: black; */
  max-height: 800px;
  align-self: center;
}

.picture__container {
  /* border: 1px solid #777; */
  /* border-radius: 4px; */
  width: 100%;
  min-height: 800px;
}

.recipe__picture {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.picture__container:hover {
  position: static;
  z-index: 999;
}

.picture__container:hover > .recipe__picture{
  border-radius: 2em;
  pointer-events: none;
  position:absolute;
  top:-25px;
  left: 0%;
  width:auto;
  height:950px;
  display:block;
  z-index:1;
  box-shadow: 0px 2px 3px grey;
}
/* reviews */

.reviews__container-hidden {
  display: none;
}

.reviews__container-visible {
  display: block;
}

.recipe__reviews {
  /* border: 2px solid black; */
  border-radius: 1.5em;
  height: fit-content;
  /* background-color: white; */
  padding: 4px;
  /* box-shadow: 10px 5px 5px #A64D79; */
}

.reviews {
  padding: 6px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* border: 1px solid black; */
  background-color: linen;
  border-radius: .75em;
  margin: 4px;
}

.reviews__userName {
font-size: small;
color: #444444;
}

.reviews__body {
font-size: larger;
color: #444444;
}

.recipe__writereview textarea {
  min-height: 100%;
  min-width: 85%;
}

.button {
  background-color: lightgray;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    color:#FFFFFF;
    text-align: center;
    transition: all 0.2s;
    box-shadow: 0px 2px 3px grey;
    border: none;
}

.button:hover {
  background-color: rgb(166,77,120);
}

.btn {
  background-color: #ffbe54;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    min-width: 100px;
    font-size:medium;
    box-sizing: border-box;
    text-decoration:none;
    color:#FFFFFF;
    text-align: center;
    transition: all 0.3s;
    box-shadow: 0px 2px 3px grey;
    border: none;
}
.status__selector {
  background-color: linen;

}

.recipes__cookedStatus {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.recipes__status_submit.btn {
  margin-left: 10px;
}

#reviews__container {
  height: 95%;
}

.reviews__form {
  height: 100%;

}
.reviews__form > div {
  height: 55%;
}
.reviews__form * {
  margin: 5px;
  padding: 3px;
}

.hidden {
  display: none;
}

.back-to-recipes {
  display: flex;
  align-content: center;
}
