.recipes__grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  /* grid-template-rows: 10% 30% 30% 10% 20%; */
  grid-template-rows: .5fr 1.5fr 1.5fr .5fr 1fr;
  gap: 0.5em 0.5em;
  grid-template-areas:
    "title pics"
    "ingredients pics"
    "instructions pics"
    "writereview writereview"
    "showreviews showreviews";
}

.recipe__title {
  grid-area: title;
  text-align: center;
}

.recipe__ingredients {
  grid-area: ingredients;
}

.recipe__instructions {
  grid-area: instructions;
}

.recipe__ingredients,
.recipe__instructions {
  display: block;
  justify-self: left;
  justify-items: left;
  text-align: left;
}

.recipe__writereview {
  grid-area: writereview;
}

.recipe__reviews {
  grid-area: showreviews;
}

.recipe__pictures {
  grid-area: pics;
  display:flex;
  box-sizing: border-box;
  justify-content: space-around;
  width: auto;
  border: 1px solid #777;
  border-radius: 4px;
  float: left;
}

.picture__container {
  border: 1px solid #777;
  border-radius: 4px;
  max-width: 20vw;
}

.recipe__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe__picture:hover{
  position:relative;
  top:-25px;
  left:-35px;
  width:50vw;
  height:100%;
  display:block;
  z-index:1;
}
/* reviews */

.reviews__container-hidden {
  display: none;
}

.reviews__container-visible {
  display: block;
}


